.about{
    display: flex;
    overflow: hidden;
}

.aboutImg{
    border-radius:15px;
    border-collapse: separate; 
    height:500px;
    width:700px;
    margin-top: 100px;
    margin-left: 150px;
    align-items: center;
}

.aboutInfo{
    margin-top: 250px;
    margin-left: 30px;
    margin-right: 100px;
    font-family: "Varela Round", sans-serif;
    font-size: 18px;
    text-align: justify;
    
}